.header-container{
    display: flex;
    flex-direction: column;
    gap:.7rem;
}

.header-container .profile-data{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.header-container .profile-data > span{
    font-weight: 700;
}

.header-container .profile-data >img{
    border-radius: 50%;
    width: 3em;
    height: 3em;
}
.header-container .details{
    display: flex;
    gap: 1rem;
}

.header-container .details > span{
    font-size: .7em;
}

