.Navbar{
    position: sticky;
    top:0;
    background:white;
    width: 100vw;
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: space-around;
    border-bottom: .3px solid rgb(179, 178, 178);
    z-index: 1;
    margin-bottom: 1rem;
}

.top-bar{
    display: flex;
    flex: 1;
    justify-content:space-around;

}

.bottom-bar{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content:center;
}

.sticky{
    background:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    /* transition: .5s all ease-in-out; */
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .top-bar{
        width: 100%;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   .Navbar{
       display: flex;
       flex-direction: column;
   }
    .bottom-bar{
        width: 100%;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {}
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {}
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}